body {
    background-color: #f9f9f9;
    color: #333333;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    margin: 0px;
}

#left-column {
    padding: 5px .5rem;
    margin-top: 10px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    max-width: 15%;
}

#right-column-bottom {
    background-color: #f4f4f4;
    padding: 0rem 1rem;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
}

#right-column-top {
    background-color: #f4f4f4;
    padding: 0rem 1rem;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
}

h5 {
    color: #2c8cff;
    font-weight: 300;
}

#intro {
    margin: 20px 0px;
    text-align: justify;
}

#control-card label {
    font-weight: bold;
}

#slider{
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.graph_card_bottom {
    background-color: white;
    border-radius: 0.675rem;
    margin-top: 10px;
    margin-left: 0px;
    min-width: 50%;
    margin-inline-start: 5px;
}

.graph_card_top {
    background-color: white;
    border-radius: 0.675rem;
    padding: 1rem;
    min-width: 50%;
    margin-inline-start: 5px;
}

.graph_card h6 {
    margin:  0 7px;
    padding-bottom: 7px;
    border-bottom:  1px solid #ccc;
}